.mo_saml_table_layout {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:0px 1% 1% 1%;
	margin-bottom: 1%;
}
.mo_saml_text_center{
	text-align: center;
}
.mo_saml_table_layout input[type=text] {
	width: 80%;
}
.mo_saml_table_layout td strong {
	margin-left: 10px;
}
.mo_orange{
	color: orange;
}


/*** CSS For Show SAML Request And Response ***/

.mo-display-logs{
	color: #3c763d;
	background-color: #dff0d8;
	padding:2%;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #AEDB9A;
	font-size:18pt;
}
.mo-display-block {
	color: #050505;
	width: -moz-available;
	min-height: 300px !important;
	overflow: auto;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 2%;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #AEDB9A;
	font-size: 12pt;
}
.mo_saml_welcome_message{
	display: block;
	margin-top: 1%;
	text-align: center;
	font-size: 1.1em;
	color: rgba(0, 128, 0, 0.80);
	background-color: rgba(0, 255, 0, 0.15);
	padding: 5px;
}
.mo_saml_highlight_background_note{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 98%;
}
.mo_saml_highlight_background_note_1{
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0.55em;
	width: 98%;
}

@media (prefers-color-scheme: dark) {
  .gin--dark-mode .mo_saml_highlight_background_note_1 {
    background-color: #e0e0e033;  /* Dark background for dark mode */
  }
}
.mo_saml_table_layout {
	border-radius: 1px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
}
.mo_saml_sp_container {
  width: 70%;
  padding: 2%;
  border-radius: 4px;
}
.mo_saml_sp_table_layout_1  {
	background-color:#e0e0d8;
	width: 98%;
	padding:1%;
	overflow: hidden;
}
.pricing-rate:last-of-type {
	margin-top:36px;
}
p.pricing-rate{
	margin-bottom: 50px;
}
.mo_saml_configure_message{
	display: block;
	text-align: center;
	font-size: 1em;
	border-radius: 10px;
	border: 1px solid #fb9a9a;
	color: red;
	background-color: rgba(255,0,0,0.1);
	padding: 1%;
}

/*Setup guide table start*/

.mo_guide_table{
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
}
.mo_guide_text-color {
	color: #fe7e00;
    margin-left: 10%;
}

.mo_saml_sp_main_container {
  display: flex;
}

.mo_saml_sp_container_2 {
  width: 30%;
  padding: 2%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  margin-left: 2%;
}
/*******CSS for copy IDP METADATA*******/

.fa.fa-pull-right {
	margin-left: .3em;
}
.fa-pull-right {
	float: right;
}

.mo_copy {
	padding: 1%;
	cursor: pointer;
}
.mo_copy:active {
	background: gray;
}
.selected-text, .selected-text>*{
	background: #2196f3;
	color: #ffffff;
}
/***************Css for Sliding support**********/

/*.mo_text_color{
	color: #d9534f;
}*/

.miniorange_saml_sp_attr_table{
 table-layout:fixed !important;
 font-size:12px !important;
}
.miniorange_saml_sp_attr_table tr{
	border-collapse: collapse !important;
	border-bottom: 0px;
}
.mo_ns_align{
	text-align: justify;
}
.mo_ns_image1{
	border: none;
	padding-bottom: 4%;
	text-align: center;
}

.mo_ns_row{
	border-right: hidden;
	border-bottom: hidden;
}

/** CSS for service provider setup tab headings */
.mo_saml_font_SP_setup_for_heading {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 1%;
    color: #d9534f;
    text-align: center;
}

/** CSS for page headings */
.mo_saml_font_for_heading {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1%;
    font-weight: bold;
    padding-bottom: 1%;
    float: left;
}
/** CSS for page headings */
.mo_saml_font_for_heading_none_float {
	letter-spacing: 0.08em;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-top: 1%;
	font-weight: bold;
	padding-bottom: 1%;
}
/** CSS for page sub headings */
.mo_saml_font_for_sub_heading {
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}

.mo_pricing-rate {
	font-size: 200%;
	font-weight: 500;
	position: relative;
	text-align: center;
  }
  
  table.mo_upgrade_plans_features td{
	border: groove;
	text-align: center;
	height: 2em;
	font-weight: 600;
	width: 25% !important;
  }
  
  table.mo_upgrade_plans_features td+td, table.mo_upgrade_plans_features td+td+td, table.mo_upgrade_plans_features td+td+td+td {
	border: groove;
	text-align: center;
	width: 13% !important;
  }
  
  
  table.mo_upgrade_plans_features tbody>:nth-child(1){
	color: white !important;
	background-color: #34495E !important;
  }
  
  table.mo_upgrade_plans_features tbody>:nth-child(1):hover{
	color: white !important;
	background-color: #34495E !important;
  }
  
  table.mo_upgrade_plans_features tbody>:nth-child(odd){
	background-color: #e3f2f6;
  }
  
  table.mo_upgrade_plans_features tbody>:nth-child(odd):hover{
	background-color: #e3f2f6;
  }
  
  .mo_upgrade_plans_features{
	margin: 0 1em !important;
	width: auto;
  }
  
  table.mo_how_to_upgrade td{
	border: groove;
	height: 2em;
	width: 25% !important;
  }
  table.mo_faq_table {
	table-layout: auto;
	width: 100%;
  }
  
  table.mo_faq_table td{
	text-align: justify;
	table-layout: fixed;
  }


.mo_saml_sp_container_full {
  width: 96%;
  padding:2%;
  float: left;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}
